<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.silver.dao.IF_GoodsDAO"><!-- 인터페이스 -->
	<insert id="insert" parameterType="www.silver.vo.GoodsVO">

		insert into gg values(gg_cnt.nextval,#{name},#{gg_num},#{username},default)</insert>
								<!-- 파라미터타입은 받을값 #= -->
	<select id="selectall" resultType="www.silver.vo.GoodsVO">
	<!-- resultType 을 명시하면 1개면 vo객체 한개. 여러개면 리스트를 알아서 담아 서 리턴한다. -->
		select t.* from (select sub.*, rownum as rnum from (select * from
		gg order by no DESC) sub) t
		where rnum between #{startNo} and #{endNo}
	</select>
	<select id="getTotalCount" resultType="int">
	select COUNT(*) from gg
	</select>
</mapper>